language: node_js
os:
  - linux
node_js: 
  - lts/*
dist: focal

install:
  - |
    if [ $TRAVIS_OS_NAME == "linux" ]; then
      export DISPLAY=':99.0'
      /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
      wget dhall-lsp-server-1.0.12-x86_64-linux.tar.bz2 -O /tmp/dhall-lsp-server.tar.bz2
      tar --extract --bzip2 --file /tmp/dhall-lsp-server.tar.bz2
      export PATH=$PATH:/tmp/bin
    fi
script:
  - |
    set -e
    npm i
    npm test
