language: node_js
os:
  - linux
node_js: 
  - lts/*
dist: focal

install:
  - |
    set -e
    if [ $TRAVIS_OS_NAME == "linux" ]; then
      export DISPLAY=':99.0'
      /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
      wget https://github.com/dhall-lang/dhall-haskell/releases/download/1.37.1/dhall-lsp-server-1.0.12-x86_64-linux.tar.bz2 -O /tmp/dhall-lsp-server.tar.bz2
      mkdir /tmp/dhall
      tar --extract --bzip2 --file /tmp/dhall-lsp-server.tar.bz2 -C /tmp/dhall
    fi
script:
  - |
    set -e
    export PATH=$PATH:/tmp/dhall/bin
    npm i
    npm test
