language: node_js
node_js:
  - "lts/*"

stages:
  - name: test
  - name: release
    if: tag IS present

jobs:
  include:
    - stage: test
      script:
        - set -e
        - npm run test
    - stage: release
      before_install:
        - npm i -g vsce
      script:
        # fail fast
        - set -e
        # publish the extension to the Marketplace
        - vsce publish -p $VS_MARKETPLACE_TOKEN

